<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Поиск</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu/base.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/check_version.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<script type="text/javascript">
    let searchParams = new URLSearchParams(window.location.search);
    main = () => {
        let result_data, pr_result_data;
        function getData() {
            $.ajax({
                type: "GET",
                url: "/accounting/select_data/",
                success: function(data) {
                    let response = JSON.parse(data);
                    result_data = response
                },
                async: false
            });
        }

        function getDataPs() {
            $.ajax({
                type: "GET",
                url: "/accounting/get_ps/",
                success: function(data) {
                    let response = JSON.parse(data);
                    pr_result_data = response
                },
                async: false
            });
        }

        fes_change = () => {
            let fes_elem = document.getElementById("fes").selectedOptions[0].value;
            let res_select = document.getElementById("res");
            let length = res_select.options.length;
            res_select.innerHTML = "";
            for (let i = length-1; i >= 0; i--) {
                res_select.options[i] = null;
            }
            getDataPs();
            let res = Object.keys(result_data[`${fes_elem}`]);
            for (let index_res in res) {
                res_select.options[res_select.options.length] = new Option(res[index_res], index_res);
            }
            res_select.options.selectedIndex = 0;
            res_change()
        };


        res_change = () => {
            let fes_elem = document.getElementById("fes").selectedOptions[0].value;
            let res_elem = document.getElementById("res").selectedOptions[0].text;
            let ps_select = document.getElementById("ps");
            let length = ps_select.options.length;
            ps_select.innerHTML = "";
            for (let i = length-1; i >= 0; i--) {
                ps_select.options[i] = null;
            }
            let ps = Object.keys(result_data[fes_elem][res_elem]);
            for (let i = 0; i < ps.length; i++) {
                for(let elem_res in pr_result_data) {
                    if (ps[i] === elem_res) {
                        ps_select.options[ps_select.options.length] = new Option(pr_result_data[ps[i]], ps[i]);
                    }
                }
            }
            ps_select.options.selectedIndex = 0;
            ps_change()
        };

        ps_change = () => {
            let fes_elem = document.getElementById("fes").selectedOptions[0].value;
            let res_elem = document.getElementById("res").selectedOptions[0].text;
            let ps_elem = document.getElementById("ps").selectedOptions[0].value;
            let vl_select = document.getElementById("vl");
            let length = vl_select.options.length;
            vl_select.innerHTML = "";
            for (let i = length-1; i >= 0; i--) {
                vl_select.options[i] = null;
            }
            let vl = Object.keys(result_data[fes_elem][res_elem][ps_elem]);
            for (let index_vl in vl) {
                vl_select.options[vl_select.options.length] = new Option(vl[index_vl], index_vl);
            }
            vl_select.options.selectedIndex = 0;
            vl_change()
        };

        vl_change = () => {
            let fes_elem = document.getElementById("fes").selectedOptions[0].value;
            let res_elem = document.getElementById("res").selectedOptions[0].text;
            let ps_elem = document.getElementById("ps").selectedOptions[0].value;
            let vl_elem = document.getElementById("vl").selectedOptions[0].text;
            let ktp_select = document.getElementById("ktp");
            let length = ktp_select.options.length;
            ktp_select.innerHTML = "";
            for (let i = length-1; i >= 0; i--) {
                ktp_select.options[i] = null;
            }
            let ktp = Object.keys(result_data[fes_elem][res_elem][ps_elem][vl_elem]);
            for (let index_ktp in ktp) {
                ktp_select.options[ktp_select.options.length] = new Option(ktp[index_ktp], index_ktp);
            }
            ktp_select.options.selectedIndex = 0;
            ktp_change();
        };

        ktp_change = () => {
            let fes_elem = document.getElementById("fes").selectedOptions[0].value;
            let res_elem = document.getElementById("res").selectedOptions[0].text;
            let ps_elem = document.getElementById("ps").selectedOptions[0].value;
            let vl_elem = document.getElementById("vl").selectedOptions[0].text;
            let ktp_elem = document.getElementById("ktp").selectedOptions[0].text;
            let tu_select = document.getElementById("tu");
            let length = tu_select.options.length;
            tu_select.innerHTML = "";
            for (let i = length-1; i >= 0; i--) {
                tu_select.options[i] = null;
            }
            let tu = result_data[fes_elem][res_elem][ps_elem][vl_elem][ktp_elem];
            for (let index_tu in tu) {
                tu_select.options[tu_select.options.length] = new Option(tu[index_tu], index_tu);
            }
            tu_select.options.selectedIndex = 0;
        };

        function doTheThing(_url) {
            $.ajax({
              type: 'GET',
                url: _url,
              success: function(data) {
                var data_first = $.parseJSON(data);
                $.ajax({
                  type: 'GET',
                    url: '/accounting/select_data/',
                  success: function(data) {
                    var data_second = $.parseJSON(data);
                    let fes_select = document.getElementById("fes");
                    let fes = Object.keys(data_second);
                    for (let i = 0; i < fes.length; i++) {
                        for(let elem_res in data_first) {
                            if (fes[i] === elem_res) {
                                fes_select.options[fes_select.options.length] = new Option(data_first[fes[i]], fes[i]);
                            }
                        }
                    }
                    fes_select.options.selectedIndex = 0;
                    getData();
                    fes_change();
                  },
                  error: function(error) {
                    return error;
                  },
                });
              },
              error: function(error) {
                return error;
              },
            });
        }

        send_info_to_device = () => {
            let fes_elem = $("#fes option:selected").val();
            let res_elem = $("#res option:selected").text();
            let ps_elem = $("#ps option:selected").val();
            let vl_elem = $("#vl option:selected").text();
            let ktp_elem = $("#ktp option:selected").text();
            let tu_select = $("#tu option:selected").text();
            let result_string = fes_elem + "\\" + res_elem + "\\" + ps_elem + "\\"
                                + vl_elem + "\\" + ktp_elem + "\\" + tu_select;
            window.location = '/device?name=' + result_string;
        }

        doTheThing('/light/get_fes');
    };
    window.onload = function () {
        var $preloader = $('#preloader'),
            $svg_anm = $preloader.find('.svg_anm');
        $svg_anm.fadeOut();
        $preloader.delay(500).fadeOut('slow');
        main();
    };
</script>
<script>
    function async_get_data(_url) {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: 'GET',
            url: _url,
          success: function(data) {
            resolve($.parseJSON(data));
          },
          error: function(error) {
            reject(error)
          },
        });
      });
    }

    async function get_value_fes_async() {
        let fes_dict = await async_get_data('/light/get_fes/');
        let result = await async_get_data('/accounting/select_data/');
        let fes = Object.keys(result);
        let fes_select = document.getElementById("fes");
        for (let i = 0; i < fes.length; i++) {
            for(let elem_res in fes_dict) {
                if (fes[i] === elem_res) {
                    fes_select.options[fes_select.options.length] = new Option(fes_dict[fes[i]], fes[i]);
                }
            }
        }
        fes_select.options.selectedIndex = 0;
        fes_change(result);
    };
</script>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: #dedede">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="justify-content: space-between">
            <a class="navbar-brand" href="">Учеты электроэнергии</a> {% if user.is_authenticated %}
            <div>
                <strong style="margin-right: 15px">Пользователь: {{ user.get_username }}</strong>
                <button class="btn btn-outline-secondary my-2 my-sm-0 ml-auto" id="a_hov" type="submit"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></button>
                {% else %}
                <button class="btn btn-outline-secondary my-2 my-sm-0 ml-auto" id="a_hov" type="submit"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></button>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="navbar" style="padding: 0; background: #f8f9fa">
        <ul class="nav" role="menubar">
            <li role="menuitem"><a href="/menu" style="text-decoration: none; border: none">На главную</a></li>
            {% for key,value in dict.items %}
            <li role="menuitem">
                {% for key_fes, value_fes in dict_two.items %} {% if key_fes == key %}
                <a style="border: none; text-decoration: none; pointer-events: none;" href="/balance?balans={{ key }}">{{value_fes}}</a> {% endif %} {% endfor %}
                <div class="mega-menu" aria-hidden="true" role="menu">
                    {% for key2,value2 in value.items %}
                    <div class="nav-column">
                        <h6><a style="color: black; font-size: 13px" href="/res?res={{ key }}/{{ key2 }}">{{ key2 }}</a></h6> {% for key3, value3 in value2.items %}
                        <ul>
                            <li role="menuitem">
                                {% for key_ps, value_ps in dict_three.items %} {% if key_ps == key3 %}
                                <a style="color: black; font-size: 12px; padding-left: 12px; padding-top: 0" href="/balance?balans={{ key }}/{{ key2 }}/{{ key3 }}">{{ value_ps }}</a> {% endif %} {% endfor %}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <ul class="nav" role="menubar">
            <li role="menuitem"><a href="/accounting" style="border: none; text-decoration: none">Учеты электроэнергии</a></li>
            <li role="menuitem"><a href="/light" style="border: none; text-decoration: none">Уличное освещение</a></li>
        </ul>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/menu" style="color: black">Главная страница</a></li>
        <li class="breadcrumb-item active" aria-current="page">Поиск</li>
      </ol>
    </nav>
    <div class="page-body mt-3">
         <div class="select_div">
            <div class="form-group col-3">
                <label for="exampleFormControlSelect1">Выберите филиал:</label>
                <select class="custom-select custom-select-lg" id="fes" onchange="fes_change()" onclick="fes_change()">
                </select>
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlSelect1">Выберите РЭС:</label>
                <select class="custom-select custom-select-lg" id="res" onchange="res_change()" onclick="res_change()">
                </select>
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlSelect1">Выберите подстанцию:</label>
                <select class="custom-select custom-select-lg" id="ps" onchange="ps_change()" onclick="ps_change()">
                </select>
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlSelect1">Выберите присоединение:</label>
                <select class="custom-select custom-select-lg" id="vl" onchange="vl_change()" onclick="vl_change()">
                </select>
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlSelect1">Выберите объект(ТП, МТП, КТП):</label>
                <select class="custom-select custom-select-lg" id="ktp" onchange="ktp_change()" onclick="ktp_change()">
                </select>
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlSelect1">Наименование точки учета:</label>
                <select class="custom-select custom-select-lg" id="tu">
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-dark" onclick="send_info_to_device()">Перейти</button>
            </div>
    </div>
</div>
</body>
</html>